<footer>
    <div class="container-fluid">
    
        <div class="row p-5 bg-dark text-white">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Db Footer</p>
            </div>
        
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Cursos</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Bootstrap</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">JavaScript</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">React JS</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">IT</a>
                </div>
            </div>
        
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Links</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Terms & Conditions</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Privacy Policy</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h5 mb-3">Contacto</p>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Instagram</a>
                </div>
                <div class="mb-2">
                    <a class="text-secondary text-decoration-none" href="#">Facebook</a>
                </div>
            </div>
        </div>

    </div>    
</footer>
</body>
</html> 