<footer>
    <ul>
        <li>
            Copyright © 1987-2022 Blockbuster S.R.L.
        </li>
        <li>
            Av. Las Heras 2000, Piso 5, CP 1128, Recoleta, CABA
        </li>
        <li>
            Matías Tolosa
        </li>
    </ul>
</footer>
</body>
</html> 