<%- include('./partials/header.ejs') %>

    <h1 class="titulo-2">Iniciar Sesión</h1>
    <form action="/users/acceso" method="POST">
        <div>
            <label for="">Email</label>
            <input type="email" name="email">
        </div>
        <div>
            <label for="">Contraseña</label>
            <input type="password" name="password">
        </div>
        <input type="hidden" name="cookie" value="true">
        <div class="boton">
        <button type="submit">Iniciar Sesión!</button>
        </div>
    </form>

<%- include('./partials/footer.ejs') %>