.botones{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.borrar{
    margin: 0;
    margin-left: 0.5rem;

}
.info{
    margin-left: 0.5rem;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url("/img/fondoOscuro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: auto
}
.home-div{
    background-image: url("/img/fondoOscuro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
@keyframes float {
	0% {
		transform: translatey(3px);
	}
	50% {
		transform: translatey(-3px);
	}
	100% {
		transform: translatey(3px);
	}
}
.navbar-brand img{
    transform: translatey(0px);
	animation: float 7s ease-in-out infinite;
}
.container-fluid {
    margin-top: 0;
    padding: 0;

}
.Colaboradores{
    display: flex;
    margin: auto;
}